doctype html
html(lang="en")
  head
    title koa views
    script.
      var foo = true;

      if (foo) {
         bar()
      }

      function bar() {
        console.log('everything works.');
      }

    style.
      body {
        font-family: Helvetica;
        text-align: center;
      }

      h1 {
        padding-top: 100px;
        font-weight: 200;
        color: #333;
        font-size: 6em;
      }

      h2 {
        color: #666;
      }
      h3 {
        color: #666;
        font-size: 1.5em;
      }
  body
    h1 404 Error
    h3 power by koa ♥ 888
