link(href="http://img.t.sinajs.cn/t5/style/css/module/base/home_frame.css?version=2112cdcd580c86d4", type="text/css", rel="stylesheet", charset="utf-8")
link(href="http://img.t.sinajs.cn/t5/style/css/module/combination/home_A.css", type="text/css", rel="stylesheet",charset="utf-8")